.blog{
    /* border:2px solid black; */
    border-style: groove;
   background-color:rgb(240, 191, 46);
}

.blogDisplay{
    display: flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top: 20px;
}
