

.fruitNavbar{
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    letter-spacing: 1px;
    /* text-decoration:none; */
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgb(102, 98, 98);
}

p:hover{
    text-decoration:underline
}
